allennlp==0.9.0
docopt==0.6.2
ipdb==0.13.9
matplotlib==3.5.1
nltk==3.6.6
numpy==1.19.5
overrides==3.1.0
pandas==1.3.5
pyparsing==3.0.6
pytorch_pretrained_bert==0.6.2
scikit_learn==0.22
spacy==2.1.9
stanfordcorenlp==3.9.1.1
torch==1.9.0+cu111
tqdm==4.62.3
